
.header
{
    height: 10vh;
    background-color: rgb(56, 3, 3);
    color: white;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items:center;

}
.footer
{
    background-color: rgb(24, 1, 1);
    color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
}

.navbar
{
    margin: 2px;
    background-color: whitesmoke;
    display:flex;
    justify-content: space-evenly;
    color: rgb(77, 8, 8);
    font-weight: bold;
    font-size: 19px;
}

.home
{
    width: 100vw;
    height: 80vh;
    margin: 2px;
    overflow-y: scroll;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.card
{
    border: none;
    background: linear-gradient(to top ,rgb(196, 130, 157),rgba(201, 89, 151, 0.9), rgba(216, 133, 157, 0.447) );
    border-radius: 20px;
    width: 200px;
    height: 190px;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 2px;
}

.card button
{
    border: 1px transparent;
    border-radius: 4px;
    width: 100px;
}

.card img
{
    width: 60%;
    object-fit: contain;
}